body {
    margin: 0;
    padding: 0;
    font-family: 'Creepster', cursive;
    background-color: #000;
    color: #fff;
  }
  
  .App {
    text-align: center;
    background: url('https://images.pexels.com/photos/6545135/pexels-photo-6545135.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .App-header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.5);
  }
  
  h1 {
    font-size: 4rem;
    margin: 0;
    color: #f00;
    text-shadow: 2px 2px #000;
  }
  
  p {
    font-size: 1.5rem;
    color: #aaa;
    text-shadow: 1px 1px #000;
  }
  
  .banner {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    margin: 20px 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.5);
  }
  
  .banner h2 {
    color: #f00;
    margin: 0;
    text-shadow: 2px 2px #000;
  }
  
  .login-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
  }
  
  .login-box {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.5);
    margin-top: 20px;
    width: 300px;
  }
  
  .login-box h2 {
    margin: 0;
    margin-bottom: 15px;
    color: #f00;
    text-shadow: 2px 2px #000;
  }
  
  .textbox {
    position: relative;
    margin-bottom: 30px;
  }
  
  .textbox input {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 2px solid #f00;
    color: #fff;
    font-size: 18px;
  }
  
  .btn {
    width: 100%;
    background: #f00;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background: #b30000;
  }
  
  .book-covers {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .book-cover {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.5);
    text-align: center;
    width: 300px;
  }
  
  .book-cover img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .book-cover p {
    color: #f00;
    margin-top: 10px;
    text-shadow: 1px 1px #000;
    text-align: left;
  }
  